.App {
  background: #f2f2f2;
  height: 1159px;
}

.container-banners {
  background: #f2f2f2;
}

nav.navbar {
  height: 80px;
  padding: 0;
}

nav.navbar .container {
  height: 80px;
  padding: 19px 68px 19px 40px;
  margin: 0;
  width: 100%;
  max-width: 100%;
}

nav.navbar .container {
  height: 80px;
  padding: 19px 68px 19px 40px;
  margin: 0;
  width: 100%;
  max-width: 100%;
}

.navbar-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
}

.navbar a {
  text-decoration: none;
}

.text-translate {
  gap: 8px;
  display: flex;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.text-translate a {
  color: #fff;
}

.navbar-right {
  display: flex;
  gap: 18px;
}

.banner {
  display: flex;
  justify-content: space-between;
}

.container {
  padding: 0;
  margin: 0;
}
img.Banner_Home {
  height: 805px;
  width: 100%;
}

.banner-left {
  position: absolute;
  left: 40px;
  top: 89px;
}

.banner-right {
  position: absolute;
  right: 201px;
  top: 123px;
}

.nav-link {
  --bs-nav-link-color: #ffffff;
  font-size: 23px;
  font-family: Lato;
}
section.menu-service {
  display: none;
  border-radius: 30px;
  width: 500px;
  height: 270px;
  background: #fff;
  position: absolute;
  box-shadow: 6px 6px 8px rgb(0 0 0 / 30%);
  padding: 37px 12px 40px 40px;
  position: absolute;
  top: 61px;
}

li:hover .menu-service {
  display: block;
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 20px;
  flex-direction: column;
  align-content: center;
}

.navbar .icon {
  font-size: 43px;
  color: #fff;
}

.nav-link:hover {
  color: #fff;
  background: #223e69;
  border-radius: 5px;
  box-shadow: 6px 6px 8px rgb(0 0 0 / 30%);
}

li:hover .menu-service {
  display: block;
  display: flex;
  flex-wrap: wrap;
}
a.nav-services.icon.icon-Correo-electrnico {
  color: black;
  font-size: 20px;
  font-family: Lato;
  text-decoration: none;
}

.navbar .icon {
  font-size: 43px;
  color: #fff;
}

section.menu-service .nav-service {
  width: 50%;
  text-decoration: none;
  display: flex;
  gap: 7px;
}

li.nav-service .nav-services {
  text-decoration: none;
}

li.nav-service .nav-services {
  text-decoration: none;
  font-size: 100%;
  font-family: "Lato";
  color: #000000;
  display: flex;
  align-items: center;
}
span.iconos {
  font-size: 30px;
}

span.iconos.icon.icon-sap-r3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

span.iconos.icon.icon-powerapps {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

span.iconos.icon.icon-software-development {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

span.iconos.icon.icon-project-managments {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
img.img-flecha {
  height: 15px;
  width: 15px;
  position: absolute;
  top: -14px;
}

img.logoIT {
  height: 190px;
}

.negocios-integrales {
  margin-block-start: -2%;
  padding: 0 0 38px 6%;
}

.text-negocios span {
  font-size: 20px;
  color: #606060;
  font-family: "Lato";
  font-weight: 900;
}

.font-red span {
  font-family: "Lato";
  font-style: normal;
  font-weight: 1000;
  font-size: 55px;
  line-height: 72px;
  color: #b50a0c;
}

.font-blue1 {
  padding: 5px 0 0 0;
}

.font-blue1 span {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #223e69;
}
.font-blue1\.1 span {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #223e69;
}
img.img-nuve {
  height: 414px;
  width: 600px;
  position: absolute;
  right: 15px;
  top: 745px;
}

.red {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #b50a0c;
  border-top-left-radius: 23px;
  border-end-end-radius: 23px;
  width: 460px;
  margin: 30px 0 0 0;
}

.red span {
  font-family: "Lato";
  font-style: normal;
  font-size: 60px;
  color: #ffffff;
}

.text-blue3 {
  padding: 40px 0 0 0;
}

.text-blue3 span {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  color: #223e69;
  font-size: 22px;
}

.text-blue4 span {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  color: #223e69;
  font-size: 22px;
}

.text-blue5 {
  padding: 15px 0 0 0;
}

.text-blue5 span {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  color: #223e69;
  font-size: 22px;
}

.text-gris1 {
  padding: 19px 0 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text-gris1 span {
  color: #606060;
  font-family: "Lato";
  font-weight: 900;
  font-style: normal;
  font-size: 22px;
  padding-left: 7px;
}

.text-gris2 {
  padding: 15px 0 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text-gris2 span {
  color: #606060;
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  padding-left: 7px;
}

.text-gris3 {
  padding: 15px 0 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text-gris3 span {
  color: #606060;
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  padding-left: 7px;
}

.image-banner img {
  height: auto;
  width: 100%;
}

.Nube {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-block-start: -468px;
}

.Nube img {
  width: 620px;
  height: auto;
}

.separation {
  display: flex;
  justify-content: center;
}

img.logo {
  width: 500px;
  height: 30px;
}
.font-red {
  padding: 9px 0;
}
.service-font-red {
  display: flex;
  justify-content: center;
  padding: 4% 0px;
  text-align: center;
}

.service-font-red span {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 48px;
  color: #b50a0c;
}

.images-services img {
  width: 475px;
  height: 316px;
}
.images-services {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 19px;
}

.shadow {
  background: #223e69;
  opacity: 0.9;
  z-index: 2;
  position: absolute;
  width: 474px;
  height: 71px;
  top: 245px;
}

.shadow1 {
  background: #223e69;
  opacity: 0.8;
  z-index: 2;
  position: absolute;
  width: 474px;
  height: 71px;
  top: 579px;
}

.shadow2 {
  background: #223e69;
  opacity: 0.8;
  z-index: 2;
  position: absolute;
  width: 474px;
  height: 71px;
  top: 916px;
}

.sap span {
  position: absolute;
  font-size: 18px;
  font-family: "Lato";
  color: #fff;
  top: 255px;
  left: 110px;
  z-index: 3;
}

.software span {
  position: absolute;
  font-size: 18px;
  font-family: "Lato";
  color: #fff;
  top: 255px;
  left: 605px;
  z-index: 2;
}

.analytics span {
  position: absolute;
  font-size: 18px;
  font-family: "Lato";
  color: #fff;
  top: 600px;
  left: 110px;
  z-index: 3;
}
.ux span {
  position: absolute;
  font-size: 18px;
  font-family: "Lato";
  color: #fff;
  top: 598px;
  left: 601px;
  z-index: 3;
}
.powerapps span {
  position: absolute;
  font-size: 18px;
  font-family: "Lato";
  color: #fff;
  top: 942px;
  left: 90px;
  z-index: 3;
}
.managment span {
  position: absolute;
  font-size: 18px;
  font-family: "Lato";
  color: #fff;
  top: 944px;
  left: 598px;
  z-index: 3;
}

.banner3 {
  width: 100%;
  height: 696px;
}
.service-blue3 {
  margin-block-start: -555px;
  text-align: center;
  padding: 0px 71%;
  padding-left: 4%;
  padding-right: 3%;
}

.service-blue3 span {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 47px;
  color: #223e69;
}

.red1 {
  display: flex;
  align-items: center;
  margin-block-start: -336px;
  padding: 0 0 0 55%;
}

.fondo-banner3 img {
  height: 700px;
  width: 100%;
}

.img-banner3 {
  padding-left: 18%;
}

.img-banner3 img {
  width: 470px;
  height: auto;
  transform: scaleX(-1);
}

.red1 img.img-responsive {
  width: 160px;
  height: 45px;
}
.red1 span {
  color: #fff;
  z-index: 1;
  font-size: 25px;
  font-family: "lato";
  width: 143px;
  text-align: center;
  position: absolute;
}
.gris1 {
  padding: 15px 0 10px 55%;
}

.gris1 span {
  color: #606060;
  font-family: "Lato";
  font-style: normal;
  font-size: 22px;
  font-weight: 900;
}
.red2 {
  display: flex;
  align-items: center;
  padding: 43px 0px 34px 55%;
}

.red2 span {
  color: #fff;
  position: absolute;
  z-index: 1;
  font-size: 25px;
  font-family: "lato";
  width: 143px;
  text-align: center;
}

.red2 img {
  width: 160px;
  height: 45px;
  position: absolute;
}

.gris2 {
  padding: 5px 127px 0 55%;
}

.gris2 span {
  color: #606060;
  font-family: "Lato";
  font-style: normal;
  font-size: 22px;
  font-weight: 900;
}
.sap .shadow h3 {
  color: #fff;
  font-size: 20px;
  font-family: "Lato";
  position: absolute;
  left: 42%;
  top: 8px;
}

.sap .shadow p {
  color: #fff;
  font-size: 20px;
  font-family: "Lato";
  position: absolute;
  left: 27%;
  top: 30px;
}

.develop .shadow h3 {
  color: #fff;
  font-size: 20px;
  font-family: "Lato";
  position: absolute;
  left: 28%;
  top: 7px;
}

.develop .shadow p {
  color: #fff;
  font-size: 20px;
  font-family: "Lato";
  position: absolute;
  left: 34%;
  top: 30px;
}

.analytic .shadow h3 {
  color: #fff;
  font-size: 20px;
  font-family: "Lato";
  position: absolute;
  left: 42%;
  top: 8px;
}

.analytic .shadow p {
  color: #fff;
  font-size: 20px;
  font-family: "Lato";
  position: absolute;
  left: 34%;
  top: 20px;
}

.desing .shadow p {
  color: #fff;
  font-size: 20px;
  font-family: "Lato";
  position: absolute;
  left: 40%;
  top: 18px;
}

.apps .shadow p {
  color: #fff;
  font-size: 20px;
  font-family: "Lato";
  position: absolute;
  left: 27%;
  top: 18px;
}

.manage .shadow h3 {
  color: #fff;
  font-size: 20px;
  font-family: "Lato";
  position: absolute;
  left: 42%;
  top: 8px;
}

.manage .shadow p {
  color: #fff;
  font-size: 20px;
  font-family: "Lato";
  position: absolute;
  left: 34%;
  top: 15px;
}

.images-services figure {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width: 475px;
  height: 316px;
  border-radius: 6px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
}
.images-services figure img {
  width: 100%;
  height: 100%;
  transition: all 400ms ease-out;
  will-change: transform;
}
.images-services figure .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #223e69c7;
  transition: all 400ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
.images-services figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}

.images-services figure:hover > .shadow {
  opacity: 0;
  visibility: none;
}
.images-services figure:hover > .capa h3 {
  margin-top: 70px;
  margin-bottom: 15px;
}
.images-services figure:hover > img {
  transform: scale(1.3);
}
.images-services figure .capa h3 {
  color: #fff;
  font-family: "Lato";
  font-size: 20px;
  margin-bottom: 120px;
  transition: all 400ms ease-out;
  margin-top: 30px;
  position: absolute;
  top: 60px;
  left: 193px;
}
.images-services figure .capa p {
  color: #fff;
  font-family: "Lato";
  font-size: 20px;
  line-height: 1.5;
  width: 100%;
  max-width: 220px;
  margin: auto;
  position: absolute;
  top: 160px;
  left: 130px;
}

.separations {
  display: flex;
  justify-content: center;
}

.blog-red {
  display: flex;
  justify-content: center;
}
.blog-red span {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 72px;
  color: #b50a0c;
}

.logos_clientes {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 12px;
  column-gap: 130px;
  cursor: pointer;
  padding: 30px 10%;
  justify-content: space-between;
}
.logos_clientes img {
  min-height: 113px;
  width: 15%;
}

img.teva {
  height: 90px;
}

.red_home3 {
  height: 351px;
  width: 100%;
  background: #b50a0c;
}

.red_home3 span {
  font-family: "Lato";
  font-style: normal;
  font-family: "Lato";
  font-size: 61px;
  color: #ffffff;
  z-index: 1;
  font-size: 35px;
  color: #ffffff;
}

footer {
  background: rgb(34, 62, 105);
}

nav.navbar.navbar-expand.navbar-dark.bg-\[object.Object\] {
  height: 112px;
}

.person {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-block-start: -285px;
}

img.personaje {
  height: 470px;
  z-index: 1;
}

.red_home3 .vector_separacion {
  height: 10px;
  width: 291px;
  margin-block-start: -444px;
  margin-left: 36px;
}

.red_home3 .vector_separacion2 {
  height: 10px;
  width: 154px;
  padding: 0%;
  position: absolute;
  right: 0;
  top: 120px;
  z-index: 0;
}

.red_home3 .button {
  width: 280px;
  height: 80px;
  display: flex;
  justify-content: center;
  background: #fff;
  padding-block-start: 22px;
  border-radius: 8px;
  box-shadow: -5px 10px 4px #17679a;
  cursor: pointer;
}

.home3 .button span {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  color: #b50a0c;
  text-align: center;
}

.fotter-blue img {
  height: 58px;
  padding-left: 46px;
}

.footer-right {
  padding-right: 59px;
  font-size: 50px;
  gap: 14px;
  display: flex;
}

.footer-right a {
  text-decoration: none;
  color: #fff;
}

.carrusel-blog img {
  position: absolute;
  top: 544px;
  left: 647px;
}

li.nav-item a {
  font-size: 24px;
}

.great {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 114px 0 0 0;
}

.buttton-center {
  display: flex;
  justify-content: center;
  margin-block-start: -149px;
}

.justify-content-center.navbar-nav a {
  font-size: 15px;
}
.service-font-red-mobile {
  display: none;
}

/*versio de escritorio*/
/* versio de escritorio */
/*versio de escritorio*/

@media (min-width: 700px) {
  .logo-responsive {
    display: none;
  }
  header.sc-bgqQcB.kkfkJv {
    display: none;
  }
  .kkfkJv {
    display: none;
  }
  .translate-responsive {
    display: none;
  }
  .navbar-responsive {
    display: none;
  }
  .button-action {
    display: none;
  }
  .banner-responsive {
    display: none;
  }
  .CqLom {
    display: none;
  }
  .burguer {
    display: none;
  }
  .hola {
    display: none;
  }
  .burger {
    display: none;
  }
  .carrusel {
    display: none;
  }

  .service-font-red-mobile {
    display: none;
  }

  .service-font-red-mobile {
    display: none;
  }
  .blue1-responsive {
    display: none;
  }
  .negocios-responsive {
    display: none;
  }
  .carousel.slide.carousel-dark {
    display: none;
  }
}

/*versio de mobile*/
/* versio de mobile */
/*versio de mobile*/
@media (max-width: 435px) {
  nav.navbar {
    height: 320px;
    padding: 0px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .button-action {
    position: absolute;
    right: 31px;
    top: -1px;
    width: 63px;
    font-size: 46px;
    height: 32px;
    display: flex;
    align-items: flex-start;
  }
  button {
    background-color: #ff000000;
    border: none;
  }

  .responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .banner {
    display: none;
  }

  .image-banner {
    display: none;
  }

  .negocios-integrales {
    display: none;
  }

  .banner-right {
    display: none;
  }

  .navbar-right {
    display: none;
  }

  .Nube {
    display: none;
  }

  .images-services {
    display: none;
  }

  .banner3 {
    display: none;
  }

  .logos_clientes {
    display: none;
  }

  .separations {
    display: none;
  }

  .separations {
    width: 100%;
    padding: 0 31%;
  }

  .service-font-red {
    display: none;
  }

  .translate-responsive {
    gap: 8px;
    display: flex;
    color: #fff;
    font-size: 20px;
  }

  .translate-responsive a {
    color: #fff;
  }
  .navbar-responsive {
    display: flex;
    gap: 14.75px;
    height: 55px;
  }
  img.logo {
    width: 100px;
    height: 100px;
  }
  img {
    background-color: #1a1a1a00;
    width: 55px;
  }

  img.img-responsive {
    height: auto;
    width: 100%;
  }

  .text-negocios {
    display: flex;
    justify-content: center;
    margin-block-start: 20px;
    margin-block-end: -5px;
  }

  .text-negocios span {
    font-size: 15px;
    color: #606060;
    font-family: "Lato";
    font-weight: 900;
  }

  .font-red {
    display: flex;
    justify-content: center;
  }

  .font-red span {
    font-family: "Lato";
    font-style: normal;
    font-weight: 1000;
    font-size: 25px;
    line-height: 72px;
    color: #b50a0c;
  }

  .font-blue1 {
    display: flex;
    padding: 0 14%;
    margin-left: 0px;
  }

  .font-blue1 span {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    font-size: 19px;
    line-height: 22px;
    color: #223e69;
  }

  .red-center {
    display: flex;
    justify-content: center;
    margin-block-start: 15px;
  }

  .red {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #b50a0c;
    border-top-left-radius: 23px;
    border-end-end-radius: 23px;
    width: 253px;
    margin: 15px 0 0 0;
  }

  .red span {
    font-family: "Lato";
    font-style: normal;
    font-size: 35px;
    color: #ffffff;
  }
  .position {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 138px;
    left: 15%;
  }
  .menu-mobile a {
    display: flex;
    gap: 51px;
    row-gap: 26px;
    column-gap: 15px;
  }
  .position a {
    font-size: 130%;
    text-decoration: none;
    color: #fff;
  }
  img.logomobile {
    position: absolute;
    top: 11px;
    height: 130px;
    width: 50%;
    left: 20%;
  }

  a.icon.icon-whatsapp:before {
    font-size: 39px;
    color: #fff;
    text-decoration: none;
  }

  .textblue1 {
    display: none;
  }
  .font-blue1\.1 {
    display: none;
  }

  .textblue1 {
    display: none;
  }

  .App {
    background: #f2f2f2;
    height: 1215px;
  }

  .separation img {
    width: 180px;
    height: 16px;
  }
  .red-center {
    display: flex;
    justify-content: center;
    margin-block-start: 15px;
  }

  .red {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #b50a0c;
    border-top-left-radius: 23px;
    border-end-end-radius: 23px;
    width: 253px;
  }

  .red span {
    font-family: "Lato";
    font-style: normal;
    font-size: 35px;
    color: #ffffff;
  }

  .banner-walpper\/responsive {
    display: flex;
    justify-content: center;
    margin-block-start: 35px;
  }

  img.img-nuve {
    height: auto;
    width: 260px;
    position: static;
  }

  .text-blue4 {
    padding: 25px 12%;
  }

  .text-blue4 span {
    font-family: "Lato";
    font-style: normal;
    font-weight: 750;
    color: #223e69;
    font-size: 19px;
    line-height: 5px;
  }
  .text-blue5 {
    width: 100%;
    padding: 0 12%;
  }
  .text-blue5 span {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    color: #223e69;
    line-height: 1px;
    font-size: 20px;
  }

  .text-check {
    padding-left: 11%;
  }

  .text-gris1 {
    padding: 19px 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  img {
    background-color: #1a1a1a00;
    width: 18px;
  }

  .text-gris1 span {
    color: #606060;
    font-family: "Lato";
    font-weight: 900;
    font-style: normal;
    font-size: 18px;
    padding-left: 7px;
  }

  .text-gris2 {
    padding: 15px 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .text-gris2 span {
    color: #606060;
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    padding-left: 7px;
  }
  .text-gris3 {
    padding: 15px 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .text-gris3 span {
    color: #606060;
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    font-size: 19px;
    padding-left: 7px;
  }
  .service-font-red-mobile {
    display: flex;
    justify-content: center;
    padding: 4% 9%;
    text-align: center;
  }

  .service-font-red-mobile span {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;
    color: #b50a0c;
  }
  .carousel-item {
    display: none;
  }
  .active.carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .carousel-inner img {
    width: 290px;
    height: 190px;
  }
  .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: -1rem;
    margin-left: 15%;
  }
  .carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #1433c2;
  }

  .shadow {
    background: #223e69;
    opacity: 0.9;
    z-index: 2;
    position: absolute;
    width: 290px;
    height: 54px;
    top: 135px;
  }

  .carousel-item figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #223e69c7;
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
  }

  .carousel-item figure:hover > .capa {
    opacity: 1;
    visibility: visible;
  }

  .h3,
  h3 {
    font-size: calc(1.3rem + 0.6vw);
    color: white;
    font-size: 16px;
    font-family: "Lato";
    text-align: center;
  }

  p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
  }
  .red_home3 {
    height: 240px;
    width: 100%;
    background: #b50a0c;
  }

  .red_home3 {
    height: 240px;
    width: 100%;
    background: #b50a0c;
  }

  .red_home3 span {
    font-style: normal;
    font-family: "Lato";
    z-index: 1;
    font-size: 19px;
    color: #ffffff;
  }

  .person {
    display: flex;
    margin-block-start: -171px;
    justify-content: flex-end;
  }

  img.personaje {
    height: 269px;
    z-index: 1;
    width: 162px;
  }

  .red_home3 .vector_separacion {
    height: 7px;
    width: 34px;
    border-radius: 2px;
    margin-block-start: -255px;
    margin-left: 8px;
  }

  .buttton-center {
    display: flex;
    margin-block-start: -108px;
    padding-left: 88px;
    justify-content: flex-start;
  }

  .red_home3 .button {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    background: #fff;
    padding-block-start: 15px;
    border-radius: 8px;
    box-shadow: -5px 10px 4px #17679a;
    cursor: pointer;
  }

  .home3 .button span {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    color: #b50a0c;
    text-align: center;
  }

  nav.navbar {
    height: 320px;
    padding: 0;
    width: 100%;
    justify-content: center;
  }

  a.icon.icon-whatsapp {
    position: initial;
    font-size: 15px;
    text-decoration: none;
  }

  nav.navbar .container a.icon.icon-correo-electronico {
    display: none;
  }

  nav.navbar .container {
    margin: 0;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  a.icon.icon-telefono {
    display: none;
  }

  a.icon.icon-telefono {
    display: none;
  }

  .justify-content-center.navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-right {
    font-size: 50px;
    gap: 17px;
    display: flex;
    margin-block-start: 32px;
    position: absolute;
    top: -17px;
    padding-left: 58px;
  }

  .great {
    display: flex;
    padding: 114px 0 0 0px;
    margin-left:-97px;
  }


  .navbar-left {
    display: none;
  }
  nav.navbar.navbar-expand.navbar-dark.bg-\[object.Object\] {
    height: 241px;
}
}
