@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ffojux');
  src:  url('fonts/icomoon.eot?ffojux#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ffojux') format('truetype'),
    url('fonts/icomoon.woff?ffojux') format('woff'),
    url('fonts/icomoon.svg?ffojux#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fuller:before {
  content: "\e900";
}
.icon-kidzania:before {
  content: "\e902";
}
.icon-lenovo:before {
  content: "\e901";
}
.icon-rimsa:before {
  content: "\e904";
}
.icon-totalplay:before {
  content: "\e906";
}
.icon-bakertilly:before {
  content: "\e907";
}
.icon-colombina:before {
  content: "\e908";
}
.icon-iws:before {
  content: "\e92b";
}
.icon-flecha-1:before {
  content: "\e94a";
}
.icon-data-analytics:before {
  content: "\e94b";
}
.icon-powerapps:before {
  content: "\e94c";
}
.icon-project-managments:before {
  content: "\e94d";
}
.icon-sap-r3:before {
  content: "\e94e";
}
.icon-software-development:before {
  content: "\e94f";
}
.icon-Icono-ux:before {
  content: "\e955";
}
.icon-instagram:before {
  content: "\e95d";
}
.icon-linkedin:before {
  content: "\e95e";
}
.icon-telefono:before {
  content: "\e95f";
}
.icon-whatsapp:before {
  content: "\e960";
}
.icon-diageo:before {
  content: "\e903";
}
