.container-acercade .carousel-caption {
    left: 10% !important;
    width: 90% !important;
    display: flex;
    justify-content: center;
}

.triangulo-banner {
    width: 88%;
    display: flex;
    justify-content: center;
    padding: 0 !important;
    margin: 0 !important;
}

.container-acercade .container-banners {
    height: 77vh;
}

.container-acercade .text-portada h1 {
    text-align: justify;
}

.container-acercade img.portada {
    width: 100% !important;
    height: 100% !important;
}


.container-acercade .carousel-caption p {
    padding: 10px 0px;
}

img.valorimgm {
    display: none;
}

.container-mision-vision {
    display: flex;
    flex-direction: column;
    padding-left: 11%;
    background-attachment: #fcf8f8eb;
}


span.valores {
    font-size: 43px;
    color: #223e69;
    font-family: var(--bs-body-font-family);
    font-weight: 700;
    padding-block-end: 11px;
}

img.valorimg {
    width: 85%;
}

.mision-vision {
    display: flex;
    padding-block-start: 37px;
    column-gap: 53px;
    justify-content: center;
}

/* Mision y vision */
.flip-card {
    background-color: transparent;
    width: 383px;
    height: 234px;
    perspective: 1000px;
    font-family: sans-serif;
}

.title {
    font-size: 3.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.flip-card-back p {
    padding: 10px;
    font-size: 15px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: 1px solid #223e69;
}

.flip-card-front {
    background: linear-gradient(120deg, #223e69 60%, rgb(34 62 105 / 75%) 88%, rgb(34 62 105) 40%, rgb(34 62 105) 48%);
    color: white;
}


.flip-card-back {
    background: linear-gradient(120deg, #223e69 60%, rgb(34 62 105 / 75%) 88%, rgb(34 62 105) 40%, rgb(34 62 105) 48%);
    color: white;
    transform: rotateY(180deg);
}

/* ///// */
.mision {
    width: 440px;
    height: 240px;
}

.mision-header {
    height: 30%;
    background: #223e69;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mision-header span {
    color: #ffff;
    font-size: 38px;
    font-weight: 500;
}

.mision-body {
    background: #FFFF;
    height: 70%;
    padding: 20px;
    text-align: justify;
}

.mision-body span {
    font-size: 14px;
    font-family: 'Lato';
    font-weight: 500;
}

.vision {
    width: 440px;
    height: 240px;
}

.vision-header {
    height: 30%;
    background: #223e69;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vision-header span {
    color: #ffff;
    font-size: 38px;
    font-weight: 500;
}

.vision-body {
    background: #FFFF;
    height: 70%;
    padding: 28px;
    text-align: justify;
}

.vision-body span {
    font-size: 14px !important;
}
.Fortalezas span {
    font-size: 40px;
    color: #223e69;
    font-weight: 800;
}

.Fortalezas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block-start: 50px;
}

.Fortalezas a {
    font-size: 38px !important;
    color: #223e69 !important;
    font-weight: 700;
}

.Fortalezas span {
    font-size: 19px;
    color: #c21f1f;
    font-weight: 800;
}

.oferta1 {
    width: 400px;
    height: 100px;
    background: #223e69;
    display: flex;
    align-items: center;
    justify-content: center;
}

.oferta2 {
    width: 400px;
    height: 100px;
    background: #223e69;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0 2px;
}

.ofertas {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    padding: 40px 0px;
}

.oferta1 h1 {
    font-size: 14px;
    color: #ffff;
    text-align: center;
}

.oferta2 h1 {
    font-size: 14px;
    color: #ffff;
    text-align: center;
}

.Fortalezas h3 {
    padding: 40px 0;
}

img.expertos {
    width: 550px;
}


.text-tecnologias {
    width: 407px;
    height: 300px;
    text-align: justify;
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.expertos-tecnologias {
    display: flex;
    flex-direction: column;
    padding: 25px 0px;
}

.text-tecnologias span {
    font-size: 14px;
    text-align: justify;
    font-weight: 500;
    color: #747474;
}

.text-tecnologias h3 {
    color: #243E69 !important;
    font-size: 19px !important;
    font-weight: 700 !important;
    padding: 0;
}

.text-tecnologias span {
    font-size: 14px;
    text-align: justify;
    font-weight: 500;
    color: #747474;
}

/* fortalezas */
dl {
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    width: 75%;
    padding: 4% 0;
}

dt a {
    color: black;
    display: block;
    padding: var(--padding);
    text-align: center;
}

dd {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    height: 0;
    max-height: 0%;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
    width: 100%;
}

dt:target+dd {
    height: 100%;
    max-height: 100%;
    overflow: visible;
    padding: 0 var(--padding) var(--padding) var(--padding);
}

dt:nth-of-type(1),
dd:nth-of-type(1) {
    background: hotpink;
}

dt:nth-of-type(2),
dd:nth-of-type(2) {
    background: gold;
}

dt:nth-of-type(3),
dd:nth-of-type(3) {
    background: tomato;
}

dt {
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.Fortalezas a {
    font-size: 16px !important;
    text-align: center;
    display: flex;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #223e69;
}

dt:nth-of-type(4),
dd:nth-of-type(4) {
    background: lightgreen;
}

dt:nth-of-type(5),
dd:nth-of-type(5) {
    background: skyblue;
}

@media (min-width: 640px) {
    dl {
        display: grid;
        grid-template-areas:
            "tab-1 tab-2 tab-3 tab-4"
            "panel panel panel panel";
        grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
        grid-template-rows: 3rem 1fr;
        height: 17rem;
        padding: 0 4%;
    }
    

    dd {
        grid-area: panel;
        z-index: 9;
    }

    dd:first-of-type, dt:target+dd {
        font-size: 20px;
        text-align: center;
        display: flex;
        height: 100%;
        min-height: 15rem;
        padding: var(--padding);
        transition: none !important;
        z-index: 99;
        background: linear-gradient(120deg, #223e69 60%, rgb(34 62 105 / 75%) 88%, rgb(34 62 105) 40%, rgb(34 62 105) 48%);
        color: white;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}


/* fortalezas */


@media (min-width: 1400px) {
    .container-acercade .carousel-caption {

        left: 11% !important;
        width: 80% !important;
    }

    .container-acercade .text-portada h3 {
        font-size: 58px !important;
    }
}

@media (max-width: 768px) {
    .container-acercade img.portadam {
        display: none;
    }

    .container-acercade .container-banners .carousel-caption .text-portada h3 {
        width: 100% !important;
        display: flex;
        justify-content: center;
        color: #223e69 !important;
    }

    .container-acercade .container-banners .carousel-caption .text-portada {
        display: flex;
        flex-direction: column;
    }

    .container-acercade .container-banners .carousel-caption .text-portada p {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        color: black;
    }

    .container-acercade .container-banners .carousel-caption .text-portada h1 {
        width: 100%;
        text-align: center;
        color: black;
        padding: 0 17px;
    }


    .container-acercade .container-mision-vision {
        margin: 0 !important;
        padding: 0 !important;
        width: 100%;
        display: flex;
        align-items: center;
    }

    img.valorimg {
        display: none;
    }

    img.valorimgm {
        display: block;
        width: 80%;
    }

    .container-acercade .carousel-caption {
        -webkit-padding-before: 50px !important;
        left: 11% !important;
        padding-block-start: 50px !important;
        padding-left: 0 !important;
        position: static !important;
        width: 100% !important;
        display: flex;
        align-items: center;
    }

    span.nomobile {
        padding-block-start: 340px;
        text-align: center;
    }

    h3.nomobile {
        text-align: center;
    }

    .ofertas {
        display: flex;
        flex-direction: column;
        margin-block-start: 247px;
        gap: 30px;
    }

    .oferta1 {
        width: 80%;
    }

    .oferta2 {
        width: 80%;
    }

    .ofertas {
        display: flex;
        flex-direction: column;
        margin-block-start: 25px;
        gap: 30px;
        align-items: center;
    }

    .mision-vision {
        display: flex;
        padding-block-start: 37px;
        gap: 52px;
        flex-direction: column;
        align-items: center;
        padding-block-end: 25px;
    }

    .mision {
        width: 80%;
        height: 100%;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }

    .vision {
        width: 80%;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }

    .Fortalezas a {
        font-size: 26px;
    }

    .expertos-tecnologias {
        flex-direction: column;
        align-items: center;
    }

    img.expertos {
        width: 80%;
    }

    .Fortalezas a {
        text-align: center;
        font-size: 25px !important;
    }

    .text-tecnologias {
        width: 280px !important;
        height: 300px;
        text-align: justify;
        display: flex;
        flex-direction: column;
        gap: 6px;
    }


}