img.img1 {
    width: 100%;
    height: auto;
}

.carousel-caption h1 {
    font-size: 14px;
    color: #4f4d4d;
}

.banner_home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center !important;
    background: #eeeded;
}
.carousel-caption {
    padding-block-start: 0px !important;
    padding-block-end: 0 !important;
    width: 100% !important;
    height: 130% !important;
    text-align: inherit !important;
    display: flex;
    gap: 0;
    flex-direction: column;
    position: sticky !important;
    justify-content: center !important;
    left: 13% !important;
    align-items: center;
}
.text-portada p {
    color: #2e2e2e;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-align: justify;
}

.text-portada h1 {
    color: #4f4d4d;
    font-size: 14px;
}
img.logorr {
    height: auto;
    width: 25%;
}

.text-portada {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: static;
    margin-block-start: -105px;
    padding-block-end: 45px;
}

.text-portada p {
    color: #2e2e2e;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
   }

.text-portada h1 {
    color: #4f4d4d;
    font-size: 15px;
}




h3 {
    color: #243E69 !important;
    font-size: 36px !important;
    font-weight: 700 !important;
}

.carousel-item.active {
    display: flex !important;
    justify-content: space-between;
}

.carousel-caption p {
    font-size: 18px;
    color: #2E2E2E;
    font-weight: 700;
    text-align: justify;
    line-height: 22px;
}

.carousel-caption h {
    font-size: 12px;
    color: #625f5f;
}
img.triangulo {
    display: flex;
    width: 80px;
    height: 50px;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-block-start: -3px;
    margin-block-end: 2%;
}


img.portadam {
    display: none;
}
img.portada {
    width: 100%;
    height: 100%;
}

.container-banners {
    background: #eeeded;
    display: flex;
    height: 70vh;
    justify-content: space-between;
}
.portada {
    width: 100%;
}


.text-portada h3 {
    font-size: 38px !important;

}
.container-menu-mobile {
    display: none;
}
img.conexiones {
    width: 100%;
    height: 700px;
    opacity: 0.5;
    margin-block-start: -601px;
    position: static;
    top: 0;
    z-index: 0;
}


/* effect mause home */
.carousel-caption {
    transform-style: preserve-3d;
    position: relative;
    perspective: 1000px;
    width: 114% !important;
    z-index: 1;
}
  
  .text-portada, .logorr {
    transform-style: preserve-3d;
    transform-origin: center center;
  }
  
  .text-portada {
    transform: rotateY(0deg) rotateX(0deg);
    transition: transform 0.5s ease-out;
  }
  
  .logorr {
    transform: translateZ(0);
    transition: transform 0.5s ease-out;
  }

@media (min-width: 1900px) {
    .img.logorr {
        width: 218px;
        height: auto;
    }

    .carousel-caption {
        padding-block-start: 0px !important;
    }
    
    img.portada {
        height: 100%!important;
        width: 100%!important;
    }
    .carousel-caption p {
        font-size: 25px;
    }
    
    .text-portada h3 {
        font-size: 45px !important;
    }
    .carousel-caption h1 {
        font-size: 18px;
    }
    .text-portada {
        width: 100% !important;
    }
    
}

@media (max-width: 600px) {
    img.portada {
        display: none;
    }
    .container-menu-mobile {
        display: block;
    }
    .bchTfv {
        border: none;
        position: absolute;
        top: 12px;
        left: 0 !important;
        right: 0 !important;
        display: flex;
        justify-content: flex-start;
    }

    .carousel-inner img {
        width: 100%;
        height: 100%;
    }
    .container-desarrollo {
        display: block !important;
    }
    img.portadam {
        display: block;
        height: 100% !important;
        width: 100%;
        object-fit: cover;
        filter: blur(3px);
    }
    .container-banners {
        display: block;
    }

    .carousel-caption {
        position: absolute !important;
    }

    ul.social-network.social-circle {
        display: none;
    }

    img.logorr {
        display: none;
    }

    .carousel-caption {
        position: absolute !important;
        left: 13px !important;
        width: 100% !important;
    }

    .text-portada h3 {
        color: #FFFF !important;
        font-size: 37px !important;
        width: 267px !important;
    }
    .text-portada p {
        color: #FFFF;
        font-size: 18px;
        width: 257px;
    }
    .text-portada h1 {
        color: #fff;
        font-size: 14px;
        width: 268px;
    }
    ul.social-network.social-circle {
        display: none !important;
    }

    .icon-cards {
        position: relative;
        width: 24vw;
        height: 40vw;
        max-width: 253px;
        max-height: 250px;
        margin: 0;
        color: white;
        perspective: 1000px;
        transform-origin: center;
    }

    .icon-cards__item {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 33vw;
        height: 34vw;
        max-width: 370px;
        max-height: 250px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        transform-origin: center;
    }
    .text-portada h3 {
        color: #fff!important;
        font-size: 38px!important;
        width: 269px!important;
    }    
    .portada {
        height: 100% !important;
    }

    .container-banners {
        display: block;
        position: relative;
        width: 100% !important;
        height: 85% !important;
    }

    .carousel-caption {
        position: absolute !important;
        left: 13px !important;
        width: 100% !important;
        top: 412px;
        z-index: 99;
    }

    img.triangulo {
        display: none;
    }

    img.img-clientes {
        width: 80%;
        height: 150px;
        position: relative;
    }

    .position {
        display: flex;
        flex-direction: column;
        padding-block-start: 80px;
    }

    img.logomobile {
        height: auto;
        width: 170px;
        padding-block-start: 15px;
        margin-left: 10px !important;
    }    
    .redes-mobile {
        padding-block-start: 10px;
    }
    .text-portada {
        padding-block-end: 20px;
    }

}