img.encabezado {
    width: 115%;
    height: 100%;
    margin-left: -12px;
    margin-block-start: 99px;
}

.bDYgsx {
    padding-block-start: 85px !important;
}

.jMhpBD {
    padding-block-start: 85px !important;
}

.gDjJBc {
    bottom: 10px !important;
}

.dvkdrQ {
    bottom: 10px !important;
}

.gRzoQP {
    background: #ededed;
    box-shadow: rgb(36 62 105) 0px 1px 2px 0px !important;
}

.cRneir {
    background: #ededed;
    box-shadow: rgb(36 62 105) 0px 1px 2px 0px !important;

}