form {
    width: 50% !important;
    background: white;
    padding: 25px;
    margin-block-start: 6% !important;
    border-radius: 10px;
    border: 1px solid #00000070;
    box-shadow: 0px 3px 8px 5px rgba(0, 0, 0, 0.2);
}

.contact {
    display: flex;
    justify-content: center;
    padding-block-end: 9rem;
}

.Contacto {
    background: #e2e2e2;
}

.Contacto .container-logos-carrusel {
    padding: 0 !important;
    margin: 0 13% !important;
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-Contacto {
    display: flex;
    justify-content: center;
    padding-block-start: 5%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.text-Contacto .down a {
    color: black;
    text-decoration: none;
    font-size: 14px;
}


.text-Contacto span {
    font-size: 23px;
    width: 560px;
    text-align: center;
}

.contacto-carrusel {
    height: 200px;
    display: flex;
    align-content: center;
    align-items: center;
    background: #eeeded;
}

.contacto-triangulo {
    display: flex;
    justify-content: center;
}

.mb-3-flex {
    display: flex;
    gap: 36px;
    width: 100%;
    flex-direction: row;
    line-height: 40px;
}

.mb-3-flex .mb-3 {
    width: 50%;
}

label.form-label {
    margin: 0 !important;
}

.mb-3 {
    line-height: 45px;
}

.recaptcha {
    padding: 10px 0 35px 0;
}

.Contacto .contact button {
    width: 180px;
    height: 50px;
    border-radius: 30px;
    background: #b51917 !important;
    font-size: 22px;
    font-weight: 600;
}

@media (max-width: 768px) {
    .text-Contacto span {
        font-size: 20px;
        width: 80%;
        text-align: center;
    }
    
    form {
        width: 87% !important;
    }
    
    .contact {
        padding-block-start: 2rem;
    }
}